.grid-parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}


.grid-item {
  background: rgba(0, 128, 0, 0.5);
}

.big-grid-item {
  grid-column: 1 / 9;
}

.medium-grid-item {
  grid-column: span 4;
}

.lonely-grid-item {
  grid-column: 8 / 9;
}

/* look into css grid area , auto-flow and grid-template-areas */

/* CSS GRID learning resources:
> https://css-tricks.com/snippets/css/complete-guide-grid/
> https://www.youtube.com/watch?v=uuOXPWCh-6o
> https://www.youtube.com/watch?v=18VLSXfsj94 */